<ion-view view-title="Nodes" cache-view="false" ng-controller="NodesCtrl">
  <ion-header-bar class="bar-positive bar-subheader">
    <label class="input-label">
      <input class="search" ng-model="filterText" ng-change="updateFilter()">
    </label>
    <div class="buttons">
      <button class="button" ng-if="filterText.length" ng-click="clearFilter()">Clear</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button" ng-click="createNewNode()">New Node</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder" ng-init="loadNodes()">
      <ion-item ng-repeat="node in nodes" href="#/app/nodes/{{node.id()}}">
        <ion-delete-button class="ion-minus-circled" on-hold="deleteNode(node)"></ion-delete-button>
        {{node.name()}}
        <ion-reorder-button class="ion-navicon" on-reorder="reorderNode(node,$fromIndex,$toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
